certifi==2018.1.18
chardet==3.0.4
crontab==0.22.0
idna==2.6
mysqlclient==1.3.12
PyMySQL==0.8.0
requests==2.18.4
six==1.11.0
slackbot==0.5.1
slacker==0.9.60
SQLAlchemy==1.2.5
urllib3==1.24.2
websocket-client==0.47.0
